/* Definición de variables para colores y fuentes */
:root {
    --primary-color: #33497E;
    --secondary-color: #37375d;
    --background-color: #ffffff;
    --text-color: #333333;
    --border-color: #ddd;
    --hover-color: #37375d;
    --button-hover-color: #993300;
    --error-color: red;
}

/* Estilos generales para el body */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #33497E, #4a90e2);
    color: var(--text-color);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    box-sizing: border-box;
    /* Incluye padding y border dentro del tamaño total */
}

/* Estilo para el título h1 */
h1 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
}

/* Estilo para los inputs */
input[type="file"] {
    padding: 12px;
    margin: 20px 0;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

/* Transición de borde y fondo cuando el input recibe foco */
input[type="file"]:focus {
    border-color: var(--primary-color);
    background-color: #fff;
    outline: none;
    /* Elimina el borde azul de enfoque predeterminado */
}

/* Estilo de los botones */
button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    margin-top: 10px;
}

button:hover {
    background-color: var(--button-hover-color);
    transform: scale(1.05);
    /* Efecto de ampliación al pasar el ratón */
}

/* Preformateado de texto */
pre {
    background-color: #fff;
    border: 1px solid var(--border-color);
    padding: 15px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    white-space: pre-wrap;
    /* Permite que el texto se ajuste */
    overflow: auto;
    /* Permite el desplazamiento si el contenido es largo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo de alerta */
.alert {
    color: var(--error-color);
    font-weight: bold;
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
}

/* Animaciones para hacer los elementos más dinámicos */
input[type="file"],
button,
h1 {
    transition: transform 0.3s ease, opacity 0.3s ease-in-out;
}

input[type="file"]:hover,
button:hover {
    opacity: 0.9;
}

/* Agregar una sombra sutil a los elementos del body para darle un toque moderno */
body {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo-gsnab {
    height: 250px;
    width: auto;
    border-radius: 8%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;

}