/* Estilos globales */
* {
    box-sizing: border-box;
    /* Asegura que el padding y el borde se incluyan en el tamaño de los elementos */
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #33497E, #4a90e2);
    /*background-color: #ffff;*/
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    display: flex;
    /* Activar flexbox */
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
    flex-direction: column;
    /* Opcional: centra los elementos en una columna */
}

/* Estilo para el mensaje de error */
#errorMessage {
    color: red;
    margin-top: 10px;
}

.contenedor_imagenes {
    margin: 20px;
    padding: 20px;
    width: 790px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    /* Considera cambiar a space-around si necesitas más separación */
}

img {
    width: 100%;
    /* Ajustar la imagen al 100% del contenedor */
    height: auto;
    /* Mantener la proporción original de la imagen */
    border-radius: 20%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

a {
    padding: 1px;
    margin: 5px;
}

.imagen {
    transition: transform 0.3s ease;
}

.imagen:hover {
    transform: scale(1.1);
}


.logo-gsnab {
    height: 250px;
    width: auto;
    border-radius: 10%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}



h1 {
    color: #ffffff;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}




button {
    background-color: #33497E;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    margin-top: 10px;
}

button:hover {
    background-color: #993300;
    transform: scale(1.05);
    /* Efecto de ampliación al pasar el ratón */
}


table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #33497E;
    color: #ffff;
    text-align: center;
}

#consultarButton {
    margin-top: 30px;

}

#privacyError {
    display: none;
}